/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background-image: url(../images/bg-image.png);
  width: 100%;
  height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header .container .logo {
  width: 212.05px;
  height: 146.19px;
  padding-top: 30px;
  z-index: 11;
}

.header .container .nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .nav-container nav ul li {
  margin-right: 40px;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.header .container .header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  width: 100%;
  background-color: #A80E0E;
}

.header .container .header-contact img {
  padding: 30px 0;
}

@media (max-width: 1083px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .container .logo {
    margin-bottom: 50px;
  }
  .header .nav-container {
    display: none;
  }
}

.header .title {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

.header .title h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 96px;
  color: white;
}

.header .title div {
  max-width: 783px;
  width: 100%;
  height: 133;
  background-image: url(../images/yellow.png);
  background-repeat: no-repeat;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .title div div {
  max-width: 400px;
  width: 100%;
  height: 80px;
  margin-left: 60px;
}

.header .title div div h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
}

.header .title button {
  max-width: 255px;
  width: 100%;
  height: 68px;
  border-radius: 90px;
  background-color: #FFAA00;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  cursor: pointer;
}

.header .title button h2 {
  font-size: 27px;
  font-family: 'Oswald', sans-serif;
  color: #A80E0E;
}

@media (max-width: 750px) {
  .header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .header .title h1 {
    text-align: center;
  }
  .header .title div {
    background-image: none;
  }
  .header .title div div {
    text-align: center;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
  }
}

.header .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  padding-top: 100px;
}

@media (max-width: 405px) {
  .header .arrow {
    display: none;
  }
}

.section1 {
  padding-top: 150px;
  padding-bottom: 170px;
}

.section1 .section-1-title {
  max-width: 700px;
  width: 100%;
  height: 134px;
  margin: 0 auto;
  text-align: center;
}

.section1 .section-1-title h2 {
  font-size: 50px;
  color: #A80E0E;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 12px;
}

.section1 .section-1-title h4 {
  font-size: 20px;
  color: #382E36;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
}

.section1 .section-1-title .brush {
  width: 100%;
}

.section1 .assort {
  padding-top: 150px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

.section1 .assort .menu {
  max-width: 128px;
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section1 .assort .menu img {
  margin-bottom: 35px;
}

.section1 .assort .menu h3 {
  font-size: 18px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media (max-width: 850px) {
  .section1 .assort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 .assort .menu {
    margin-bottom: 60px;
  }
}

.section2 .container-2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.section2 .container-2 video {
  max-width: 1170px;
  width: 100%;
}

.section2 .container-2 .redpaint {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  width: 100%;
  text-align: center;
}

.section2 .container-2 .redpaint h2 {
  font-size: 30px;
  color: #A80E0E;
  letter-spacing: 15px;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.section3 {
  padding-top: 150px;
}

.section3 .wrapper {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section3 .wrapper h2 {
  margin-bottom: 25px;
  font-size: 40px;
  color: #A80E0E;
  font-family: 'Oswald', sans-serif;
}

.section3 .wrapper img {
  margin-bottom: 25px;
  width: 100%;
}

.section3 .wrapper h3 {
  font-size: 20px;
  color: #382E36;
  font-family: 'Montserrat', sans-serif;
}

.section3 .recipes {
  padding-top: 130px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.section3 .recipes .food {
  max-width: 250px;
  width: 100%;
  margin: none;
}

.section3 .recipes .food img {
  max-width: 300px;
  width: 100%;
}

.section3 .recipes .food h2 {
  font-size: 16px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 16px;
}

.section3 .recipes .food .pseudo::before {
  content: url(../images/star.svg);
  margin-right: 10px;
  margin-left: 15px;
}

.section3 .recipes .food h3 {
  font-size: 22px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
}

.section3 .recipes .food h4 {
  font-size: 13px;
  color: #686868;
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
  margin-bottom: 40px;
}

.section3 .recipes .food button {
  max-width: 164px;
  width: 100%;
  margin: none;
  height: 40px;
  background-color: #FFAA00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 90px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.section3 .recipes .food button i {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.section3 .recipes .food h5 {
  font-size: 22px;
  color: #A80E0E;
  margin-left: 15px;
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 800px) {
  .section3 .recipes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section3 .recipes .food:not(:last-child) {
    margin-bottom: 40px;
  }
  .section3 .recipes .food {
    max-width: 300px;
    width: 100%;
    margin: none;
  }
}

.section3 .button-2 {
  margin-top: 130px;
  width: 255px;
  height: 68px;
  border-radius: 90px;
  background-color: #A80E0E;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
}

.section-4 {
  background-image: url(../images/2663738.jpg);
  height: 852px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.section-4 .section-4-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.section-4 .timer {
  max-width: 450px;
  width: 100%;
  padding-left: 30px;
}

.section-4 .timer h6 {
  font-size: 60px;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
}

.section-4 .timer h5 {
  font-size: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.section-4 .timer h4 {
  font-size: 22px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

.section-4 .timer .timer1 {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

@media (max-width: 460px) {
  .section-4 .timer .h6 {
    font-size: 30px;
  }
  .section-4 .timer h5 {
    font-size: 15px;
  }
  .section-4 .timer h4 {
    font-size: 13px;
  }
}

.section-4 .timer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85px;
  height: 85px;
  background-color: #FFAA00;
}

.section-4 .timer .box h2 {
  font-size: 40px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.section-4 .timer .box h3 {
  color: #A80E0E;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 460px) {
  .section-4 .timer .timer1 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-4 .timer .timer1 .box {
    width: 50px;
    height: 50px;
  }
  .section-4 .timer .timer1 .box h2 {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .section-4 {
    background-position: center;
  }
}

.section-5 {
  padding-top: 150px;
  padding-bottom: 200px;
}

.section-5 .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section-5 .container-2 h2 {
  font-size: 40px;
  color: #A80E0E;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 25px;
}

.section-5 .container-2 h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #382E36;
  margin-top: 25px;
}

.section-5 .container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 130px;
}

.section-5 .container-3 .quotes img {
  margin-bottom: 60px;
}

.section-5 .container-3 .quotes p {
  margin-bottom: 60px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.section-5 .container-3 .quotes h2 {
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
}

.section-5 .container-3 .quotes h3 {
  margin-bottom: 50px;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #686868;
}

.section-5 .container-3 .quotes .paragraph-wrapper {
  max-width: 350px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

@media (max-width: 1088px) {
  .section-5 .container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-5 .container-3 .quotes {
    padding-top: 30px;
  }
}

@media (max-width: 750px) {
  .section-5 .woman {
    max-width: 500px;
    width: 100%;
    padding-left: 30px;
  }
}

.section6 {
  background-color: #FFAA00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section6 .box {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.section6 .box .card {
  max-width: 250px;
  width: 100%;
  height: 316px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
}

.section6 .box .card h2 {
  font-size: 20px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.section6 .box .card div {
  width: 50px;
  height: 5px;
  background-color: #FFAA00;
  margin: 0 auto;
  border-radius: 90px;
}

.section6 .box .card h3 {
  font-size: 16px;
  color: #686868;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

@media (max-width: 1080px) {
  .section6 .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section6 .box .card {
    margin-bottom: 30px;
  }
}

.section7 {
  background-color: #A80E0E;
}

.section7 .container7 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section7 .container7 .contact {
  max-width: 580px;
  width: 100%;
  margin: none;
  height: 600px;
  background-color: #A80E0E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section7 .container7 .contact .contact-wrapper {
  max-width: 370px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}

.section7 .container7 .contact .contact-wrapper .button3 {
  width: 120px;
  height: 41px;
  background-color: #FFAA00;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  border-radius: 60px;
}

.section7 .container7 .contact .contact-wrapper h2 {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.section7 .container7 .contact .contact-wrapper h3 {
  margin-left: 25px;
  font-size: 16px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 7px;
}

.section7 .container7 .contact .contact-wrapper i {
  font-size: 50px;
  color: white;
  margin-right: 10px;
}

.section7 .container7 .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 1020px) {
  .section7 .container7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section7 .container7 .map {
    padding-bottom: 30px;
  }
}

@media (max-width: 323px) {
  .section7 .map {
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
  }
  .section7 .map iframe {
    width: 270px;
    height: 270px;
  }
}

footer {
  padding-top: 100px;
}

footer .footer-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

footer .footer-wrapper img {
  margin-bottom: 33px;
}

footer .footer-wrapper .footer-p {
  max-width: 300px;
  width: 100%;
  margin-bottom: 11px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

footer .footer-wrapper .tax img:not(:last-child) {
  margin-right: 10px;
}

footer .footer-wrapper .footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

footer .footer-wrapper .footer-line {
  background-color: #FFAA00;
  width: 50px;
  height: 3px;
  border-radius: 60px;
  margin-bottom: 46px;
  margin-top: 20px;
}

footer .footer-wrapper li {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #686868;
}

footer .footer-wrapper h2 {
  font-size: 20px;
  color: #A80E0E;
  font-family: 'Oswald', sans-serif;
}

footer .footer-wrapper .footer-photos img {
  margin-right: 15px;
}

@media (max-width: 321px) {
  footer .footer-wrapper .discovery {
    display: none;
  }
}

footer .underline {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  opacity: 20%;
  background-color: #707070;
  margin-top: 70px;
  margin-bottom: 30px;
}

footer h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #686868;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 1080px) {
  footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-wrapper .footer-logo {
    margin-bottom: 30px;
  }
  footer .footer-wrapper .h2-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-wrapper .navigation4 {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  footer .footer-wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 450px) {
  footer .footer-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-photos img {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  footer .footer-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=global.css.map */