.header{
    background-image: url(../images/bg-image.png);
    width: 100%;
    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;

    .container{
        @include flex(space-between,center);
        @include max-sizes(1170px,100%,0 auto);
        padding-left: 30px;
        padding-right: 30px;

        .logo{
            width: 212.05px;
            height: 146.19px;
            margin-top: 30px;
            
        }
        .nav-container{       
            

            nav{
            

                ul{
                    display: flex;
    
                    li{
                        margin-right: 40px;
                        color: white;
                        font-weight: bold;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }

        }
        .header-contact{
            @include flex(space-around,center);
            max-width: 300px;
            width: 100%;
            height: 100px;
            background-color: #A80E0E;
                
        }
        
    }
    .title{
        height: 386px;
        max-width: 788px;
        margin-top: 250px;

        h1{
            font-family: 'Oswald', sans-serif;
            font-size: 96px;
            color: white;
            text-align: center;
        }
        div{
            max-width: 783px;
            width: 100%;
            height: 133;
            background-image: url(../images/yellow.png);
            background-repeat: no-repeat;
            height: 170px;
            @include flex(none,center);
            margin-left: 60px;

            div{
                max-width: 400px;
                width: 100%;
                height: 80px;
                margin-left: 60px;

                h2{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    color: white;
                }

            }

            
        }
        button{
            max-width: 255px;
            width: 100%;
            height: 68px;
            border-radius: 90px;
            background-color: #FFAA00;
            border: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-left: 200px;
            margin-top: 60px;
            cursor: pointer;

            h2{
                font-size: 27px;
                font-family: 'Oswald', sans-serif;
                color: #A80E0E;
                // margin-right: 34px;

            }
        }
    }
    .arrow{
        display: flex;
        justify-content: center;
        margin-top: 200px;
        
    }
}

// header end

// section 1 start
.section1{
    padding-top: 150px;
    padding-bottom: 170px;

    .section-1-title{
        max-width: 700px;
        width: 100%;
        height: 134px;
        margin: 0 auto;
        text-align: center;

        h2{
            font-size: 50px;
            color: #A80E0E;
            font-family: 'Oswald', sans-serif;
            margin-bottom: 12px;
        }
        h4{
            font-size: 20px;
            color: #382E36;
            font-family: 'Montserrat', sans-serif;
            margin-top: 30px;

        }
    }
    .assort{
        padding-top: 150px;
        @include max-sizes(1170px,100%,0 auto);
        @include flex(space-around,center);
        padding-right: 15px;
        padding-left: 15px;
        

        .menu{
            max-width: 128px;
            width: 100%;
            height: 160px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            img{
                margin-bottom: 35px;
            }
            h3{
                font-size: 18px;
                color: #000000;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;

            }
        }

       
    }
    @media (max-width:850px){
        .assort{
            flex-direction: column;

            .menu{
                margin-bottom: 60px;
            }
        }
    }
}
// Section 1 end

// Section 2 start
.section2{
    background-color: #FFAA00;
    height: 745px;

    .courier{
        display: flex;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        background-image: url(../images/courier.png);
        height: 745px;
        background-repeat: no-repeat;
        background-position: right;
        

        img{
            margin-top: 40px;
        }
        .redpaint{
            @include max-sizes(460px,100%,none);
            max-width: 460px;
            width: 100%;
            height: 200px;
            margin-top: 30%;
            @include flex(space-between,center);

            h2{
                margin-left: 5px;
                font-size: 70px;
                color: white;
                font-family: 'Oswald', sans-serif;
                
            }
        }
    }

    
}

// Section 2 end

// Section 3 start

.section3{
    padding-top: 150px;

    .wrapper{
        @include max-sizes(650px,100%,0 auto);
        text-align: center;

        h2{
            margin-bottom: 25px;
            font-size: 40px;
            color: #A80E0E;
            font-family: 'Oswald', sans-serif;

        }
        img{
            margin-bottom: 25px;
        }
        h3{
            font-size: 20px;
            color: #382E36;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .recipes{
        padding-top: 130px;
        @include max-sizes(1170px,100%,0 auto);
        @include flex(space-around,none);

        .food{
            @include max-sizes(300px,100%,none);
           

            img{
                max-width: 300px;
                width: 100%;
            }
            h2{
                font-size: 16px;
                color: #000000;
                font-family:'Montserrat', sans-serif;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 16px;
            }
            .pseudo::before{
                content: url(../images/star.svg);
                margin-right: 10px;
                margin-left: 15px;
            }
            h3{
                font-size: 22px;
                color: black;
                font-family:'Montserrat', sans-serif;
                font-weight: bold;
                margin-bottom: 10px;
                margin-left: 15px;
            }
            h4{
                font-size: 13px;
                color: #686868;
                font-family:'Montserrat', sans-serif;
                margin-left: 15px;
                margin-bottom: 40px;
            }
            button{
                @include max-sizes(164px,100%,none);
                height: 40px;
                background-color: #FFAA00;
                margin-left: 15px;
                @include flex(center,center);
                border-radius: 90px;
                border: none;
                cursor: pointer;
                color: white;
                font-family:'Montserrat', sans-serif;

                i{
                    color: white;
                    margin-right: 10px;
                    font-size: 20px;
                }

            }
            h5{
                font-size: 22px;
                color: #A80E0E;
                margin-left: 15px;
                font-family: 'Oswald', sans-serif;
            }
            
        }
    }
    .button-2{
        margin-top: 130px;
        width: 255px;
        height: 68px;
        border-radius: 90px;
        background-color: #A80E0E;
        color: white;
        font-family:'Montserrat', sans-serif;
        border: none;
        cursor: pointer;
    }
}
// Section 3 end
// Section 4 start
.section-4{
    background-image: url(../images/2663738.jpg);
    height: 852px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    .timer{
        max-width: 450px;
        width: 100%;
        height: 324px;
        margin-left: 100px;
        
        h2{
            font-size: 60px;
            color: white;
            font-family: 'Oswald', sans-serif;
            margin-bottom: 20px;

        }
        h3{
            font-size: 25px;
            color: white;
            font-family:'Montserrat', sans-serif;
            margin-bottom: 10px;
        }
        h4{
            font-size: 22px;
            color: white;
            font-family:'Montserrat', sans-serif;
            margin-bottom: 50px;
        }
        .box{
            @include flex(center,center);
            flex-direction: column;
            width: 85px;
            height: 85px;
            background-color: #FFAA00;

            h2{
                font-size: 40px;
                color: white;
                align-items: center;
                margin-top: 8px;

            }
            h3{
                color: #A80E0E;
            }
            


        }
    }
}

// Section 4 end
// Section 5 start
.section-5{
    padding-top: 150px;

    .container-2{
        @include flex(center,none);
        @include max-sizes(700px,100%,0 auto);
        flex-direction: column;
        text-align: center;

        h2{
            font-size: 40px;
            color: #A80E0E;
            font-family: 'Oswald', sans-serif;
            margin-bottom: 25px;
        }
        h3{
            font-size: 20px;
            font-family:'Montserrat', sans-serif;
            color: #382E36;
            margin-top: 25px;
        }
    }
    .container-3{
        @include flex(none,center);
        @include max-sizes(1170px,100%,0 auto);
        padding-top: 130px;

        .quotes{
            
            img{
                margin-bottom: 60px;
                
            }
            p{
                margin-bottom: 60px;
                font-size: 20px;
                font-family:'Montserrat', sans-serif;
                color: black;
            }
            h2{
                margin-bottom: 10px;
                margin-left: 50px;
                font-size: 25px;
                font-family:'Montserrat', sans-serif;
                color: black;
                font-weight: bold;
            }
            h3{
                margin-bottom: 50px;
                margin-left: 50px;
                font-family:'Montserrat', sans-serif;
                font-size: 16px;
                color: #686868;
            }
            .paragraph-wrapper{
                max-width: 350px;
                width: 100%;
                margin-left: 50px;
            }
        }
    }
}
// Section 5 end